.about-container{
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.philosophy{
  width: 30%;
}
.background{
  width:30%;
}
.pg-2{
  width: 100%;
  height: 200px;
}
.pg-2 img{
  width:100px;
  align-self: flex-end;
}